@charset "utf-8";
/* CSS Document */

.logophoto {
	padding-left: 30px;
	padding-top: 30px;
}

nav {
	display: inline-block;
	padding-left: 10px;
}

nav ul li {
	display: inline-block;
	margin-left: 39px;
	padding-top: -15px;
}

nav ul li a:hover {
	color: #EE4036;
	cursor: pointer;
}

nav ul {
	list-style-type: none;
	line-height: 26.4px;
	font-family: 'BPG Nino Mtavruli', sans-serif;
	font-weight: bold;
	padding-bottom: 36.1px;
}

ul li a{
	text-decoration: none;
	font-size: 22px;
	transition: all 0.3s linear;
	color: #3D58A6;
}

nav .home {
	color: #EE4036;
}

.image5 {
	padding-left:98px;
}

.image5 img {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#footer {
  float: left;
  padding-top: 30px;
  display: inline-block;
}

#photo1 {
	float: left;
	padding-left: 109.5px;
}


#photo2 {
  padding-left: 35.6px;
  float: left;
}

#photo3 {
	float: left;
	padding-left: 35.6px;
}

.F1 {
	font-family: 'Roboto', sans-serif;
	padding-left: 98.5px;
	font-size: 24px;
	padding-top: 119.6px;
}

.F1:hover{
	opacity: 0.5;
	transition: 1s ease-in;
	transform: scale(1.01);
}

.oriphoto {
	width: 1170px;
	height: 225px;
}

.pirvelimartkutxedi {
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
	border-left: 98px;
	position: relative;
    margin-left: 98px;
	margin-top: 30.8px;
	float: left;
}

.pirveliicon {
	padding-left: 38.8px;
	padding-top: 12.7px;;
}

.satauri1 {
	font-size: 22px;
	padding-left: 20.8px;
	padding-top: 11.1px;
	font-family: 'Roboto';
	color: #3D58A6;
}

.firsttext {
	font-size: 20px;
	padding-left: 200px;
	margin-top: -110px;
	font-family: 'Roboto';
	float: left;
}
.meoremartkutxedi {
	width: 570px;
	background-color: #F2F2F2;
	height: 225px;
	float: right;
	position: relative;
	top: -225px;
	left: 100px;
}